<!DOCTYPE html>


{% load static %}





<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        О нас
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<section class="header-text container-fluid">
    <div class="container">
        <div class="row">
            <div class="header-success">
                <p>Наша сила в вашем успехе !</p>
            </div>
            <div class="ml-auto">
                <p>
                    Нужна помощь? Свяжитесь с нашим экспретом
                </p>
            </div>
            <div class="header-number">
                <a href="">+996 (553) 993 342</a>
            </div>
        </div>
    </div>
</section>
<header class="header">
    <div class="header-overlay">
        <div class="nav-container ">
            <div class="logo"><a href="{% url 'main_page' %}" src="">
                <img class="logo" src="{% static 'img/armadalogo.png' %}" alt="logo"></a></div>
            <div class="nav-wrapper">
                <ul class="nav">
                    <li class="nav__item"><a href="{% url 'service_list_url' %}" class="nav__link">Услуги</a></li>
                    <li class="nav__item"><a href="{% url 'work' %}" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="{% url 'contacts' %}" class="nav__link">Контакты</a></li>
                    <li class="nav__item"><a href="{% url 'portfolio_panel' %}" class="nav__link">Портфолио</a></li>
                    <li class="nav__item"><a href="{% url 'production_panel' %}" class="nav__link">Производство</a></li>
                    <li class="nav__item "><button href="#" class="btn nav__link">Скачать прайс</button>
                    </li>
                </ul>
                <div id="menu-togle" class="menu-icon">
                    <div class="menu-icon-line"></div>
                </div>
                <div id="mobile-nav" class="mobile-nav">
                    <ul class="mobile-nav__list">
                        <li class="mobile-nav__item"><a href="{% url 'service_list_url' %}" class="mobile-nav__link">Услуги</a></li>
                        <li class="mobile-nav__item"><a href="{%url 'work' %}" class="mobile-nav__link">О нас</a></li>
                        <li class="mobile-nav__item"><a href="{% url 'contacts' %}" class="mobile-nav__link">Контакты</a></li>
                        <li class="mobile-nav__item"><a href="{% url 'portfolio_panel' %}" class="mobile-nav__link">Портфолио</a></li>
                        <li class="mobile-nav__item"><a href="{% url 'production_panel' %}" class="mobile-nav__link">Производство</a></li>
                        <li class="mobile-nav__item"><button href="#" class="btn nav__link">Скачать прайс</button></li>
                    </ul>
                </div>

            </div>
            <div class="logos"><a href="{% url 'main_page' %}">
                 <img class ="logos"src="{% static 'img/armadalogo.png' %}" alt="logo"></a></div>
        </div>
    </div>
    <section>
        <div class=" work__section container">
            <img src="{% static 'img/production/Rectangle 141.jpg' %}" alt="" class="work__img">
        </div>
        <section class="our-services-title">
            <div class="title title__work">
<span class="title-text title__text-work">
О компании
</span>
            </div>
        </section>
        <div class="text__work-full container">
            <p class="text__work">
                Рекламно-производственная компания Армада существует на рынке с 2009 года.
                <br>За это время мы успели выполнить более 30 000 частных заказов. <br>
                Для нас всегда в приоритете желание заказчика, поэтому всегда стараемся улучшить качество обслуживания.
                <br><br>Мы оказываем большинство полиграфических услуг от печати простых визиток, листовок,
                буклетов до широкоформатной печати. Также занимаемся постпечатной обработкой изданий,
                документации и дизайнерским оформлением ваших проектов.
            </p>
        </div>
    </section>
    <section class="our-services-title">
        <div class="title">
<span class="title-text">
Чем мы занимаемся ?
</span>
        </div>
    </section>
    <section class="our-services container mb-5">

        <div class="rill">
            {% for service in services %}
            <div class="block-1 ">
                <img src="{{service.image.url}}" alt="">
                <p>{{service.title}}</p>
                <p>Хотите узнать подробность, <br>
                    телефон для связи:</p>
                <a href="#">+996 (0553) 577-575</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="slider__section container">
            <div class="slider__title-text">Наша история</div>
            <div class="slider container">
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2009</h1>
                    </div>
                    <p>Мы маленькая, но очень амбициозная компания! Держитесь, мы взлетаем!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2010</h1>
                    </div>
                    <p>Закупили новое оборудование для производства широкоформатной печати.</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2011</h1>
                    </div>
                    <p>Увеличиваем производство. Теперь у нас в штате на двух человек больше!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2012</h1>
                    </div>
                    <p>Заключаем договор с крупным гипермаркетом «Фрунзе».</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2013</h1>
                    </div>
                    <p>Мы сделали подарочные упаковки для компании «Coca-Cola».</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2014</h1>
                    </div>
                    <p> Мы очень рады видеть как бизнес наших клиентов идёт в гору!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2015</h1>
                    </div>
                    <p>Побывали во многих городах Китая, и набрались знаний!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2016</h1>
                    </div>
                    <p>Мы объездили еще много городов и стран, набираемся опыта и знаний.
                       </p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2017</h1>
                    </div>
                    <p>Наши сотрудники полны опыта и знаний, а главное всегда готовы к новым знаниям!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2018</h1>
                    </div>
                    <p>Мы в Америке! Обмениваемся опытом!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2019</h1>
                    </div>
                    <p>Первыми в КР запустили производство ландшафтных светильников!</p>
                </div>
                <div class="slider__item">
                    <div class="slider__ellipse">
                        <h1 class="slider__text">2020</h1>
                    </div>
                    <p>Нелегкий год для всего мира. Благодаря нашим клиентам мы двигаемся дальше!</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="advantages">
            <div class="title">
<span class="title-advantages">
Наши преимущества
</span>
            </div>
        </div>
        <div class="advant__items container">
            <div class="advant__item">
                <img src="{% static 'img/services/clock 2.png' %}" alt="" class="advant__img">
                <p class="advant__text">Оперативность</p>
            </div>
            <div class="advant__item">
                <img src="{% static 'img/services/book.png' %}" alt="" class="advant__img">
                <p class="advant__text">Высококвалифицированные специалисты</p>
            </div>
            <div class="advant__item">
                <img src="{% static 'img/services/Vector (20).png' %}" alt="" class="advant__img">
                <p class="advant__text">Современное оборудование</p>
            </div>
            <div class="advant__item">
                <img src="{% static 'img/services/Group (2).png' %}" alt="" class="advant__img">
                <p class="advant__text">Широкий спектр услуг</p>
            </div>
        </div>
    </section>
</header>
<section class="client-text">
    <div class="client-title">
<span class="ctitle-text">
Наши клиенты
</span>
    </div>
</section>
<section class=" pt-5">
    <div class="container">
        <div class="row">
            {% for item in customer %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="nikess-box">
                    <img src="{{ item.image.url }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container order">
    <div class="lend">
        <p class=" text-center">Оставьте бесплатную заявку</p>
    </div>
    <p class="manage text-center">и менеджер по работе с клиентами свяжется с вами и проконсультирует</p>
</section>
<section class="container form">
    <form action="." method="post" class="form-stacked" name="message_form">

        <div class="form-dis">
            <div class="control">
                {{form.name}}
            </div>
            <div class="control">
                {{form.phone}}
            </div>
            <div class="form-btn text-center">
                <input type="submit" value="Оставить заявку">
                {% csrf_token %}
            </div>
        </div>
    </form>
    <div>
        {%if form.errors %}
        <div class="alert alert-danger">
            {{form.errors}}
        </div>
        {%endif%}
    </div>
</section>

<footer class="information container-fluid">
    <div class="container">
        <div class="row">
            <div class="about-company col-xl-3 col-xl-3 col-sm-3">
                <p>
                    О компании
                </p>
                <p>
                   Рекламно-производственная компания Армада существует на рынке с 2009 года.
                    <br>За это время мы успели выполнить более 30 000 частных заказов.
                    <br>Для нас всегда в приоритете желание заказчика,
                    поэтому всегда стараемся улучшить качество обслуживания.
                </p>
            </div>
            <div class="information-links col-xl-3 col-sm-3">
                <div>
                    <p>Информация </p>
                    <div class="information-links1">
                        <a href="{% url 'service_list_url' %}">Услуги </a>
                        <a href="{% url 'work' %}"> <br> О нас </a>
                        <a href="{% url 'contacts' %}"> <br> Контакты</a>
                        <a href="{% url 'portfolio_panel' %}"> <br> Портфолио </a>
                        <a href="{% url 'production_panel' %}"> <br> Производство </a>
                    </div>

                </div>
            </div>
            <div class="contacts col-xl-3  col-lg-3  col-sm-3">
                <p>Контактная информация</p>
                <p>Бишкек, ул. Байтик Баатыра, 23А</p>

                <p><a href="tel:">+996 (776) 166-600</a></p>
                <p><a href = "mailto:armada.kg@gmail.com">armada.kg@gmail.com</a></p>
            </div>
            <div class="social-media col-xl-3 col-lg-3 col-sm-3">
                <p>Мы в социальных сетях </p>
                <div class="">
                    <a href="https://www.instagram.com/_armada.kg/?hl=ru">Instagram </a>
                    <a href="https://www.facebook.com/armadabishkek"> <br> Facebook</a>
                </div>
            </div>
        </div>
    </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/burger.js' %}"></script>
</body>

</html>


