{% extends 'index.html' %}
{% load static %}
{% block title %}
    Наши услуги
{% endblock %}
{% block content %}


<section class="our-services-title">
    <div class="title title__main">
                <span class="title-text">
                    Наши услуги
                </span>
    </div>
</section>

<div class="container mt-5">
    <div class="row">

        {% for item in list_items %}
        <div class="col-lg-3">

            <ul >
                <li class="text-menu pl-5"><a href="{% url 'service_panel_url' item.slug %}">{{item.title}}</a></li>
            </ul>

        </div>
        {% endfor %}


    </div>
</div>


<section>
    <div class="advantages">
        <div class="title">
                    <span class="title-advantages">
                        Наши преимущества
                    </span>
        </div>
    </div>
    <div class="advant__items container">
        <div class="advant__item">
            <img src="{% static 'img/services/clock 2.png' %}" alt="" class="advant__img">
            <p class="advant__text">Оперативность</p>
        </div>
        <div class="advant__item">
            <img src="{% static 'img/services/book.png' %}" alt="" class="advant__img">
            <p class="advant__text">Высококвалифицированные специалисты</p>
        </div>
        <div class="advant__item">
            <img src="{% static 'img/services/Vector (20).png' %}" alt="" class="advant__img">
            <p class="advant__text">Современное оборудование</p>
        </div>
        <div class="advant__item">
            <img src="{% static 'img/services/Group (2).png' %}" alt="" class="advant__img">
            <p class="advant__text">Широкий спектр услуг</p>
        </div>
    </div>
</section>

{% endblock %}



